
/*{
     margin:0;
     padding:0;

 } */


h1{
    color: rgb(14, 1, 125);

}
.first{
    margin: 20px; 
    padding: 30px;
}
    img{
        width: 200px;
    }

.mangoes{
    color: blue;
}
.fruits{
    background-color: red;
}

#sample{
    background-color: pink;
    /*border-color:3px (0,0,027) dashed;*/
    border:5px red dashed
}
    
.first{
    border-style: dotted;
    margin: 10px 15px;
    padding: 30px;

}

/* My flexbox properties */ 
.container{
background-color: aqua;

}

.child{
    background-color: blueviolet;
    display: flex;
    /* flex-direction: row; */
     justify-content: space-between;
}
